#ft_text{
font-family: Arial;
color: black;
}

#btn_to_main{
    display: inline-block;
    background: green;
    color: #fff;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    }