#head_style{
background-image: linear-gradient(to right, #2F4F4F, #778899);
font-family: Arial;
padding-top: 10px;
padding-right: 10px;
}

#catalog{
margin-left: 30%;
padding-bottom: 10px;
padding-top: 10px;
padding-right: 10px;
}

td {
  padding-bottom: 10px;
  padding-right: 7px;
}

.ind-btn{padding-right: 6px;}

input[type=submit], button[type=submit]{
    color: white;
    padding:5px 15px;
    background:#32CD32;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#log_pg_style{background-image: linear-gradient(to right, #800080, #EE82EE);}

footer{font-family: Arial;}

#ft_text{font-family: Arial;}

#ft_text_log_reg{
font-family: Arial;
margin-top: 20px;
}

.flash {
font-family: Arial;
text-align: center;
padding-right: 10px
}
.flash.success {
border: 1px solid #21DB56;
background: #00FF7F;
}
.flash.error{
border: 1px solid #FF4343;
background: #FF9C9C;
}
.flashes{
font-family: Arial;
text-align: center;
border: 1px solid #FF4343;
background: #FF9C9C;
}

.item-ava{
margin: 0 auto;
width: 300px;
text-align: center;
overflow: hidden;
background: #e0e0e0;
padding: 10px;
}
.item-ava img{
width: 150px;
height: 150px;
object-fit: cover;
}
