#head_style{
background-image: linear-gradient(to right, #800080, #EE82EE);
font-family: Arial;
padding-top: 10px;
padding-right: 10px;
}

footer{
font-family: Arial;
}

#ft_text{
font-family: Arial;
}