{% extends "base.html" %}

{% block title %}
Добавление товара
{% endblock %}

{% block body %}
<div id="ft_text" class="container">
    <h1> Добавление товара </h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" autocomplete="off"
               placeholder="Название товара"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Цена товара в рублях"><br>
        <input type="text" class="form-control" name="text" id="text" autocomplete="off"
               placeholder="Информация о товаре"><br>
        <button type="submit">Добавить товар</button>
    </form>
    {% for cat, msg in get_flashed_messages(True) %}
    <br>
    <div class="flash {{cat}}">{{ msg }}</div>
    {% endfor %}
</div>
{% endblock %}