{% extends "base.html" %}

{% block title %}
{{ items.cat }}
{% endblock %}

{% block body %}
<div class="d-flex flex-column flex-md-row" id="catalog">
    <span class="ind-btn"><a href="/1" class="list-group-item"><h6>Одежда</h6></a></span>
    <span class="ind-btn"><a href="/2" class="list-group-item"><h6>Обувь</h6></a></span>
    <span class="ind-btn"><a href="/3" class="list-group-item"><h6>Инструменты</h6></a></span>
    <span class="ind-btn"><a href="/4" class="list-group-item"><h6>Рюкзаки</h6></a></span>
    <span class="ind-btn"><a href="/5" class="list-group-item"><h6>Прочее</h6></a></span>
    <span class="ind-btn"><a href="/home" class="list-group-item"><h6>Все товары</h6></a></span>
</div>
<div id="ft_text" class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for i in items %}
        <div class="card-deck mb-1 text-center">
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h3 class="my-1 font-weight-normal" id="ind_pad">{{ i.title }}</h3>
                        <div class="card-header">
                            <div class="item-ava">
                                <img src="static/images/item-{{ i.id }}.png"/>
                            </div>
                            <h2 class="card-title pricing-card-title"><big>{{ i.price }}</big><sup
                                    class="text-muted fw-light">BYN</sup></h2>
                            <a href="/buy/{{ i.id }}" class="btn btn-outline-success">В корзину</a>
                            <a href="/index/{{ i.id }}" class="btn btn-outline-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}