{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}
{% block body %}


<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for i in items %}
        <div class="card-deck mb-3 text-center">
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ i.price }}<small
                                class="text-muted fw-light">бел.руб.</small></h1>
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ i.title }}</h4>
                            <a href="" class="btn btn-lg btn-block btn-outline-primary">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}