{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}
{% block body %}


<div id="ft_text" class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for i in items %}
        <div class="card-deck mb-1 text-center">
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="my-0 font-weight-normal">{{ i.title }}</h2>
                        <div class="card-header">
                            <h2 class="card-title pricing-card-title"><big>{{ i.price }}</big><sup
                                    class="text-muted fw-light">BYN</sup></h2>
                            <a href="" class="btn btn-outline-success">В корзину</a>
                            <a href="/index/{{ i.id }}" class="btn btn-outline-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}